.DS_Store
__pycache__/
.tmp

# Local files
logging_config.yaml

# Plain
**/build/
**/plain_modules/*/
**/conformance_tests/
**/node_plain_modules/
**/node_conformance_tests/
**/go_plain_modules/
**/python_plain_modules/
**/codeplain.log
